{% extends "blog/base.html" %}
{% load thumbnail %}
{% load static %}
{% block content %}
    <!-- Jumbotron-->
    <div class="jumbotron" style="background: url('{% static 'img/banner.jpg' %}')">
        <div class="container">
            <h1>{{ title }}</h1>

            <p>My name is {{ about.name }} and this is what I do.</p>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% thumbnail about.display_picture "640x640" crop="center" as im %}
                <img src="{{ im.url }}" class="img img-responsive img-circle center-block" alt="{{ about.name }}">
                {% endthumbnail %}
                <hr>
                {{ about.content }}
                <hr>
                <a href="{{ about.resume }}" class="btn btn-group-justified btn-default fa fa-download">Résumé</a>
            </div>
        </div>
    </div>s
{% endblock content %}