{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <!-- Jumbotron-->
    <div class="jumbotron" style="background: url('{% static 'img/banner.jpg' %}')">
        <div class="container">
            <h1>{{ article.title }}</h1>

            <p>Posted by <a href="{% url 'about_me' %}">{{ article.author.get_full_name }}</a>
                on {{ article.published_date.date }}</p>
            {% if user.is_authenticated %}
                <ul class="list-inline">
                    <li><a class="btn btn-default btn-lg" href="{% url 'edit_article' pk=article.pk %}"
                           role="button">Edit</a>
                    </li>

                    <li><a class="btn btn-default btn-lg" href="{% url 'delete_article' pk=article.pk %}" role="button">Delete</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
    <!-- Post Content -->
    <article>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <img class="img-responsive" src="{{ article.image.url }}" alt="{{ article.title }}">
                    {{ article.content|safe }}
                </div>
            </div>
        </div>
    </article>
{% endblock content %}