<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#FF696969">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>The Leaky Cauldron</title>
    <meta name="author" content="Vaibhav Sharma">
    <meta name="description" content="This is the official blog of Artist and Developer, Vaibhav Sharma, Where he publishes his works and random stories from all over.">
    <meta name="keywords" content="Vaibhav,Sharma,Vaibhav Sharma,The Leaky Cauldron,Harry Potter,Dinosaurs,Pub,blog,official blog,Sharma Vaibhav,NU,django,python">
    <link href='{% static "favicon.ico" %}' rel='icon' type='image/x-icon'/>
    <!--stylesheets-->
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <!--Google Analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65577118-1', 'auto');
      ga('send', 'pageview');

    </script>
    <!--Google Analytics-->
</head>
<body>
<div class="site">
    <div class="site-header">
        <header>
            <hgroup>
                <h1><a href="/">The Leaky Cauldron</a></h1>

                <h2>Vaibhav's Official Blog</h2>
            </hgroup>
        </header>
    </div>
    {% if user.is_authenticated %}
    <div class="site-nav">
        <nav>
            <ul>
                <li><a href="/">Read</a></li>
                <li><a href="{% url "blog.views.post_new" %}">Write</a></li>
            </ul>
        </nav>
    </div>
    {% endif %}
    <!--Amazon Associate-->
    <div class="alignleft">
        <script type='text/javascript'>
         amzn_assoc_ad_type = 'banner';
         amzn_assoc_tracking_id = 'theleacau0e-20';
         amzn_assoc_marketplace = 'amazon';
         amzn_assoc_region = 'US';
         amzn_assoc_placement = 'assoc_banner_placement_default';
         amzn_assoc_linkid = 'HLYJRPM2RWY5EZXS';
         amzn_assoc_campaigns = 'kindle';
         amzn_assoc_banner_type = 'category';
         amzn_assoc_isresponsive = 'true';
        </script>
        <script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
    </div>
    <!--Amazon Associate-->
    <div class="site-content">
        {% block content %}
        {% endblock content %}
    </div>
    <!--Amazon Associate-->
    <div class="alignleft">
        <script type='text/javascript'>
         amzn_assoc_ad_type = 'banner';
         amzn_assoc_tracking_id = 'theleacau0e-20';
         amzn_assoc_marketplace = 'amazon';
         amzn_assoc_region = 'US';
         amzn_assoc_placement = 'assoc_banner_placement_default';
         amzn_assoc_linkid = 'OIRFGU2525G2BKHI';
         amzn_assoc_campaigns = 'hotnewreleases';
         amzn_assoc_banner_type = 'category';
         amzn_assoc_isresponsive = 'true';
        </script>
        <script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
    </div>
    <!--Amazon Associate-->
    <div class="site-footer">
        <footer>
            Created by <a href="https://twitter.com/vaibhaved" target="_blank">@vaibhaved</a> . &copy; 2015 Vaibhav
            Sharma. All Rights Reserved(unless explicitly specified).
            <p>Powered By Python-Django</p>
        </footer>
    </div>
    <!--javascripts-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/follow.js" %}"></script>
</div>
</body>
</html>
