{% extends "blog/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
    <!-- Jumbotron-->
    <div class="jumbotron" style="background: url('{% static 'img/banner.jpg' %}')">
        <div class="container">
            <h1>The Leaky Cauldron</h1>

            <p>A Clean Bootstrap based blog powered by Django.</p>

        </div>
    </div>

    <!-- Main Content -->
    <div class="container">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4>Recent Posts</h4>
                <ul class="nav nav-pills nav-stacked">
                    {% for recent in recents %}
                        <li><a href="{% url 'article' pk=recent.pk %}">{{ recent.title }}</a></li>
                    {% endfor %}
                </ul>
                <hr>
            </div>
            <div class="col-sm-9">
                {% for article in articles %}
                    <div class="post-preview">
                        <a href="{% url 'article' pk=article.pk %}">
                            {% thumbnail article.image "847x300" crop="center" as im %}
                                <img class="img-responsive" src="{{ im.url }}" alt="{{ article.title }}">
                            {% endthumbnail %}
                            <h2 class="post-title">
                                {{ article.title }}
                            </h2>

                            <h3 class="post-subtitle">
                                {{ article.content|truncatechars:75|safe }}
                            </h3>
                        </a>

                        <p class="post-meta">Posted by <a
                                href="{% url 'about_me' %}">{{ article.author.get_full_name }}</a>
                            on {{ article.published_date.date }}</p>
                    </div>
                    <hr>
                {% endfor %}

                <!-- Pagination -->
                <nav class="pull-right">
                    <ul class="pager">
                        {% if articles.has_previous %}
                            <li>
                                <a href="?page={{ articles.previous_page_number }}">&laquo; Previous</a>
                            </li>
                        {% endif %}

                        {% if articles.has_next %}
                            <li>
                                <a href="?page={{ articles.next_page_number }}">Next &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock content %}