{% extends "blog/base.html" %}
{% block content %}
<div class="site-content-maincontent">
    <section>
        <article>
            {% if post.published_date %}
            <header>
                {% if user.is_authenticated %}
                <a class="edit-btn" href="{% url "post_edit" pk=post.pk %}">Edit</a>
                {% endif %}
                <h1>{{ post.title }}</h1>
            </header>
            <p>{{ post.content|linebreaks }}</p>
            <footer>
                Published : {{ post.published_date }}
            </footer>
            {% endif %}
        </article>
    </section>
</div>
{% endblock content %}
