{% extends "blog/base.html" %}
{% block content %}
<div class="site-content-maincontent">
    <section>
        <article>
            <header>
                <h1>New Post</h1>
            </header>
            <form method="post" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="post-form-btn"
                        onmouseout="this.style.opacity=1;this.filters.alpha.opacity=100"
                        onmouseover="this.style.opacity=0.6;this.filters.alpha.opacity=60">Publish
                </button>
            </form>
        </article>
    </section>
</div>
{% endblock content %}
