{% extends "blog/base.html" %}
{% load admin_static %}
{% load static %}
{% block content %}
    <!-- Page Header -->
    <div class="jumbotron" style="background: url('{% static 'img/banner.jpg' %}')">
        <div class="container">
            <h1>{{ title }}</h1>

            <p>Update your profile</p>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            {{ form.name }}
                            <p class="help-block text-danger">{{ form.name.default_error_messages }}</p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Display Picture</label>
                            {{ form.display_picture }}

                            <p class="help-block text-danger">{{ form.display_picture.default_error_messages }}</p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Content</label>
                            {{ form.content }}

                            <p class="help-block text-danger">{{ form.content.default_error_messages }}</p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Resume</label>
                            {{ form.resume }}
                            <p class="help-block text-danger">{{ form.resume.default_error_messages }}</p>
                        </div>
                    </div>
                    <br>

                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <input class="btn btn-default" value="Publish" type="submit"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}